<div class="word-container">
  <div class="sentence-block">
    
    <div class="line"><span class="dim">{{ prefix }}</span></div>
    
    <div class="line"><span class="highlight hour">{{ hourText }}</span></div>
    
    <div class="line">
      <span class="dim">con</span> 
      <span class="highlight minute">{{ minuteText }}</span> 
      <span class="dim">minutos</span>
    </div>
    
    <div class="line">
      <span class="dim">y</span> 
      <span class="highlight second">{{ secondText }}</span> 
      <span class="dim">segundos.</span>
    </div>
    
  </div>
</div>