<div class="binary-container">
  
  <div class="binary-group">
    <div class="binary-col">
      <div class="dot hidden"></div><div class="dot hidden"></div>
      <div class="dot" [class.on]="binaryData.hTen[0]"></div>
      <div class="dot" [class.on]="binaryData.hTen[1]"></div>
    </div>
    <div class="binary-col">
      <div class="dot" [class.on]="binaryData.hUnit[0]"></div>
      <div class="dot" [class.on]="binaryData.hUnit[1]"></div>
      <div class="dot" [class.on]="binaryData.hUnit[2]"></div>
      <div class="dot" [class.on]="binaryData.hUnit[3]"></div>
    </div>
  </div>
  
  <div class="divider"></div>

  <div class="binary-group">
    <div class="binary-col">
      <div class="dot hidden"></div>
      <div class="dot" [class.on]="binaryData.mTen[0]"></div>
      <div class="dot" [class.on]="binaryData.mTen[1]"></div>
      <div class="dot" [class.on]="binaryData.mTen[2]"></div>
    </div>
    <div class="binary-col">
      <div class="dot" [class.on]="binaryData.mUnit[0]"></div>
      <div class="dot" [class.on]="binaryData.mUnit[1]"></div>
      <div class="dot" [class.on]="binaryData.mUnit[2]"></div>
      <div class="dot" [class.on]="binaryData.mUnit[3]"></div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="binary-group">
     <div class="binary-col">
      <div class="dot hidden"></div>
      <div class="dot" [class.on]="binaryData.sTen[0]"></div>
      <div class="dot" [class.on]="binaryData.sTen[1]"></div>
      <div class="dot" [class.on]="binaryData.sTen[2]"></div>
    </div>
    <div class="binary-col">
      <div class="dot" [class.on]="binaryData.sUnit[0]"></div>
      <div class="dot" [class.on]="binaryData.sUnit[1]"></div>
      <div class="dot" [class.on]="binaryData.sUnit[2]"></div>
      <div class="dot" [class.on]="binaryData.sUnit[3]"></div>
    </div>
  </div>

</div>